{% extends 'template.html.twig' %}

{% block title %}Edit Gift{% endblock %}

{% block body %}
    <h1>Edit Gift</h1>

    {{ include('gift/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gift_index') }}">back to list</a>

    {{ include('gift/_delete_form.html.twig') }}
{% endblock %}
