<h1>Hi and welcome to our application</h1>

<p>
    Please confirm your email address by clicking the following link and then proceed to the logging : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Thank you.
</p>
