{% extends 'template.html.twig' %}

{% block title %}Gift Error{% endblock %}

{% block body %}
    <div class="container">
        <h1>An error occurred...</h1>
        <p>The gift is either not found or not chosen by you.</p>
{#        <a href="{{ path('homepage') }}">Return to the homepage</a>#}
    </div>
{% endblock %}