{% extends 'template.html.twig' %}

{% block title %}Cancel gift reservation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p>The gift is now no longer under your reservation</p>
                {#                <a href="{{ path('homepage') }}" class="btn btn-primary">Go to Home</a>#}
            </div>
        </div>
    </div>
{% endblock %}