{% extends 'template.html.twig' %}

{% block title %}Enter GiftList Password{% endblock %}

{% block body %}
    <h1>Please enter the password for the GiftList</h1>
    {{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
    {{ form_end(passwordForm) }}
{% endblock %}
