{% extends 'template.html.twig' %}


{% block stylesheets %}
    <style>
        .password-field-div {
            /*display: none;*/
        }
    </style>
{% endblock %}


{% block title %}Edit GiftList{% endblock %}

{% block body %}
    <h1>Edit GiftList</h1>


    {{ include('gift_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gift_list_index') }}">back to list</a>

    {{ include('gift_list/_delete_form.html.twig') }}
{% endblock %}


{% block javascripts %}
    <script>

        $(document).ready(function() {
            const $statusCheckbox = $('#gift_list_status');
            const $passwordDiv = $('#gift_list_password').closest('.mb-3'); // Cible directement la div englobante du champ password
            const $passwordField = $('.gift_list_password');

            // Masquer le champ mot de passe si la checkbox n'est pas cochée lors du chargement de la page
            // if (!$statusCheckbox.is(':checked')) {
            //     $passwordDiv.hide();
            // }




            {% if gift_list.status == "No" %}
                console.log("hello");
                $statusCheckbox.prop('checked', true);
                $passwordDiv.addClass('password-field-div');
            {% else %}
                $passwordDiv.removeClass('password-field-div');
            {% endif %}

            // if (!$statusCheckbox.is(':checked')) {
            //     $passwordDiv.addClass('password-field-div');
            //
            // } else {
            //
            // }


            $statusCheckbox.change(function() {
                if ($(this).is(':checked')) {
                    $passwordDiv.removeClass('password-field-div');
                } else {
                    $passwordDiv.addClass('password-field-div');
                }
            });
        });
    </script>
{% endblock %}