{% extends 'template.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Update profile form</h1>
        {{ form(form) }}
    </div>

{% endblock %}

{% block title %}
    Update your profile informations
{% endblock %}

