
<h1>Gift Selected from Your List!</h1>


<h2>Hello!</h2>

<p>A gift reservation from list has been cancelled .</p>

<p><strong>Gift Name:</strong> {{ gift.name }}</p>
<p><strong>Chosen by:</strong> {{ userEmail }}</p>

<p>Thanks for using our platform! Have a great day!</p>

<p>Warm regards,</p>